:root {
    --primary-color: #8A33FD;
}


.btn-login:hover{
    border: solid 0.5px ;
}

.hvr-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  .hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  }

  /* Bounce To Right */
.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--primary-color);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
    color: white !important;
  }
  .hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
.navbar{
    height: 10% !important;
}

.signin-content{
    /* height: 89.5% !important; */
    height: 90vh !important;
}

.signin-content .main-right{
  border-top: grey solid 0.3px !important;
}


.img-left{
  background: url("../../assets/images/auth/reset-password-left.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: start center;
}



@media (min-width : 769px) {
  .right-side{
    padding: 100px 80px !important;
  }
}

.right-side{
  padding: 3rem 1rem;
}

.right-side .google-btn{
  border-color: rgb(143, 140, 140) !important;
}


/* line */

.line-with-text {
  display: flex;
  align-items: center;
  width: 300px; /* Adjust width as needed */
  margin: 20px auto; /* Center the element */
  text-align: center; /* For older browsers */
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: rgb(150, 150, 150); /* Adjust line color */
}

.text {
  padding: 0 10px; /* Adjust spacing around the text */
  color: grey;
}

.right-side .border-input{
  border-color: rgb(143, 140, 140) !important;
}